.row 
  .col-md-10
    .widget-box 
      .widget-header 
        %h4 Location Filter 
        %span.widget-toolbar 
          %a{:href => "#", data: {action: 'settings'}} 
            %i.icon-cog
          %a{:href => "#", data: {action: "reload"}}
            %i.icon-refresh 
          %a{:href => "#", data: {action: "collapse"}}
            %i.icon-chevron-up
          %a{:href => "#", data: {action: "close"} }  
            %i.icon-remove
      .widget-body
        .widget-main
          =search_form_for @q, url: businesses_search_path do |f|
            .row
              .col-md-2
                =f.text_field :id_eq, placeholder: 'Id', class: "form-control"
              .col-md-10
                =f.text_field :business_name_cont, placeholder: 'Business Name', class: "form-control"
            %br
            .row
              .col-md-5
                =f.text_field :city_start, placeholder: "City", class: "form-control"
              .col-md-4
                =f.text_field :referrer_code_start, placeholder: "Referrer Code", class: "form-control"
              .col-md-3
            .form-actions 
              %button.btn.btn-primary Filter 
              %button.btn.btn-warning{type: "reset"} Clear 
