#step4.step-pane
  .row
    .col-xs-12
      %h3 Logo 
      %p= I18n.t('popovers.business.logo.logo_content')  
      -if @business.logo.nil? 
        .alert.alert-info A logo has not been selected.
      -else 
        %a.cboxElement{ data: {rel: "colorbox"}, href: @business.logo.medium }
          =image_tag( @business.logo.medium, alt: "150x150")
          .text
            .inner A caption on Hover. 
  .row
    .col-xs-12
      #uploader

  .row
    .col-xs-12
      %h3 Additional Images
      %p= I18n.t('popovers.business.logo.additional_logo_content')
        
      %ul.ace-thumbnails
        -@business.images.each do |image| 
          %li
            %a{ data: { rel: 'colorbox'}, href: image.url }
              = image_tag image.medium
            .tools.tools-bottom
              %a.remove_thumbnail{'data-image-id' => image.id, href:"#"}
                %i.icon-remove.red