#step4.step-pane
  .row
    .col-xs-6
      %h3 Logo 
      %p= I18n.t('popovers.business.logo.logo_content')  
      #logo.well
        -if @business.logo.nil? 
          .no-logo{ class:[ @business.logo.present? && :hidden] } Drag an image from the gallery to make it the logo.
        %ul.ace-thumbnails
          -if @business.logo.present?
            = f.fields_for :images, @business.logo do |image|
              =render partial: "gallery_image", locals: { image: image } 
  .row
    .col-xs-12
      %h3 Image Gallery
      %p= I18n.t('popovers.business.logo.additional_logo_content')
        
      %ul#gallery.ace-thumbnails
        = f.fields_for :images do |image|
          =render partial: "gallery_image", locals: { image: image } 
  .row
    .col-xs-6
      #uploader

