- content_for :summary do 
  = render :partial => 'citation_summary'
.row
  .span12
    = render :partial => 'form/search_form' unless request.xhr?
.row{:id => "display_form"}
  .span12
    = render :partial => 'form/business_tab' unless request.xhr?

   


