%li
  =image_tag( image.object.medium, alt: "150x150")
  =image.hidden_field :_destroy, class: 'destroy-image' 
  =image.hidden_field :is_logo, class: 'is-logo'
  .tools.tools-bottom
    %a.remove_thumbnail
      %i.icon-trash.red
