.site-accounts
  - @site_accounts.each do |account|
    .site-account{:style=>"width: 300px; display: none; "}
      =semantic_form_for :account, :url=>'/accounts', :method=>:create do |f|
        %input{:type=>:hidden, :name=>'model', :value=>account.first}
        %input{:type=>:hidden, :name=>'business_id', :value=>@business.id}
        .row-fluid
          .span2
            %a.btn.btn-prev{:href => '#'}
              %i.icon-arrow-left
          .span8.site-name{:style=>"text-align: center;"}=account.first
          .span2
            %a.btn.btn-next.pull-right{:href => '#'}
              %i.icon-arrow-right
        .row-fluid
          .span12
            .well
              %label
                %span.pf-label Username
              %input.pf-field{:name => "accounta[username]", :type => "text", :placeholder => 'Username', :value=>current_user.email, :readonly=>true }/
              %label
                %span.pf-label Password
              %input.pf-field{:name => "account[password]", :type => "password", :placeholder => 'Password' }/
              %label
                %span.pf-label Do Not Sync
              %input.pf-field{:name => "username", :type => "checkbox" }/
              %br/
              =f.submit 'Save', :class=>'btn btn-save btn-primary pull-right'
              .clearfix

:javascript
  $('.site-accounts .site-account:first').show();
  $('.site-account .btn-prev').on('click', function(){
    var _this=$('.site-account:visible'), _prev=$('.site-account:visible').prev();
    if(_this.index()==0)return;
    _this.fadeOut(1, function(){
      _prev.show();
    });
  });

  $('.site-account .btn-next').on('click', function(){
    var _this=$('.site-account:visible'), _next=$('.site-account:visible').next();
    if(_this.index()==$('.site-account').size()-1)return;
    _this.fadeOut(1, function(){
      _next.show();
    });
  });

  $('.site-account form').submit(function(){
    var _this = this;
    $('.btn-save', _this).prop('disabled', true);
    $(".ajax-progress").show();
    $.ajax({ 
      data: $(this).serialize(),
      url: this.action,
      type: 'post',
      success: function(res){
        $(".ajax-progress").hide();
        $('.btn-save', _this).prop('disabled', false);
      }
    });
    return false;
  });










