.row
  .col-xs-12
    .clearfix
      .pull-left.alert.alert-success.no-margin 
        %button.close{data:{dismiss:"alert"}}
          %i.icon-remove
        %i.icon-umbrella.bigger-120.blue
        Click on the image below or on profile fields to edit them.
    .hr.dotted
    %div
      .user-profile.row
        .col-xs-12.col-sm-3.center
          =render "show_left"
        .col-xs-12.col-sm-9
          =render "show_right"