- content_for :summary do 
  = render :partial => 'citation_summary'
.row
  .span12 
    .hero-unit 
      -if params[:delay] # came from tasks controller 
        %h1 Jobs are being processed!  
        %p This may take a few hours.  When we're finished, we'll email you a proof of submission report.
        .tadaLnks
          = link_to('Take me to my dashboard', "/")
          = "|"
          = link_to('Sign Out', destroy_user_session_path, :method => :delete)         
      -else 
        %h1 Congratulations!  
        %p You have successfully installed the client software. Click Sync Now above to sync your busines profile. 
