- content_for :summary do 
  = render :partial => 'citation_summary'
.row
  .span12 
    .hero-unit 
      %h1 Congratulations!  
      %p You have successfully installed the client software. Click Sync Now above to sync your busines profile. 

