.row
  .col-xs-12
    %h3.headerheader.lighter Errors by Sites
    %table.table.table-striped.table-bordered.table-hover
      %thead 
        %tr
          %th Name 
          %th Payloads with Errors
      %tbody 
        - @rows.each do |row|
          %tr 
            %td= link_to row["name"], failed_jobs_url( site: row["name"])
            %td= row["payloads_with_errors"]
