:javascript
  $(document).ready(function(){
    window.registerCheckoutHooks();
  });
%input{:type => :hidden, :id => 'package_id', :name => 'package_id', :value => @package.id}
=render "billing_summary_fields" 
