:javascript
  $(document).ready(function(){
    window.registerCheckoutHooks();
  });
%input{:type => :hidden, :name => 'package_id', :value => @package.id}
%fieldset
  %legend
    Billing Summary
  %label{:for => 'package'} Initial Fee
  .input-prepend.input-append
    .add-on
      .span2.total
        Sub-Total: $
    %input.tally.span1{:value => @subtotal, :name => 'subtotal', :type => "text", :disabled => 'disabled' }
    .add-on .00
  - unless @saved.nil?
    %br
    .input-prepend.input-append
      .add-on
        .span2.total
          Coupon: $
      %input.tally.span1{:value => @saved, :name => 'coupon_total', :type => "text", :disabled => 'disabled'}
      .add-on .00
      .coupon-code.add-on #{@coupon.code}
      .cross-button.add-on= link_to 'X', '#', :remote => 'true',:class => 'billing-system-close-button'

  %br
  .input-prepend.input-append
    .add-on
      .span2.total.bold
        Total: $
    %input.tally.span1{:value => @total, :name => 'total', :type => "text", :disabled => 'disabled' }
    .add-on.bold .00
  %label{:for => 'subscription'} Monthly Subscription
  .input-prepend.input-append
    .add-on
      .span2.total.bold
        Amount: $
    %input.tally.span1{:value => @amount_total, :name => 'amount_total', :type => "text", :disabled => 'disabled' }
    .add-on .00
  - unless @coupon
    .input-append
      %label{:for => 'coupon'} Coupon or Offer Code
      %input#coupon{:name => 'coupon', :placeholder => "Coupon", :type => "text", :value => (@coupon ? @coupon.code : '') }
      %input.btn.btn-info#addCoupon{:type => 'button', :value => 'Add'}
  - else
    %input#coupon{:name => 'coupon', :type => "hidden", :value => (@coupon ? @coupon.code : '') }
  #coupon-show.input-append{:style => "display:none;"}
    %label{:for => 'coupon'} Coupon or Offer Code
    %input#coupon{:name => 'coupon', :placeholder => "Coupon", :type => "text", :value => (@coupon ? @coupon.code : '') }
    %input.btn.btn-info#addCoupon{:type => 'button', :value => 'Add'}
