%h5.blue Billing Summary
%hr
%label Initial Fee
.input-group 
  %span.input-group-addon Sub-Total: $
  %input.form-control.col-xs-1(type="text" disabled="disabled" value="449")
  %span.input-group-addon .00
.input-group 
  %span.input-group-addon Total: $
  %input.form-control.col-xs-1(type="text" disabled="disabled" value="449")
  %span.input-group-addon .00
%label Monthly Subscription 
.input-group 
  %span.input-group-addon $
  %input.form-control.col-xs-1(type="text" disabled="disabled" value="49")
  %span.input-group-addon .00
%label Coupon or Offer Code
.input-group 
  %input.form-control(type="text" placeholder="Coupon")
  %span.input-group-addon Add
%label Referrer ID
.input-group 
  %input.form-control(type="text" placeholder="Optional Referrer ID")

