%h5.blue
  Secure Order Form
  %i.icon-lock
%hr
%label Name (as it appears on your card)
.input-group 
  %input.form-control(type="text" placeholder="Name")
%label Card number
.input-group 
  %input.form-control(type="text" placeholder="Card Number")
%label Expiration Date
.input-group 
  %input.form-control(type="text" placeholder="Card Number")
%label Security code (3 on back, Amex: 4 on front)
.input-group 
  %input.form-control(type="text" placeholder="CVV")
%p Enter your card number without spaces or dashes. 
