%br/
%h4.blue Account Information
%hr
%fieldset
  .form-group
    %span.block.input-icon.input-icon-right 
      =f.email_field :email, class: "form-control", placeholder: "Email"
      %i.icon-envelope
  .form-group
    %span.block.input-icon.input-icon-right 
      =f.password_field :password, placeholder: "Password", class: "form-control"
      %i.icon-lock
  .form-group
    %span.block.input-icon.input-icon-right 
      =f.password_field :password_confirmation, placeholder: "Repeat Password", class: "form-control"
      %i.icon-retweet
  .form-group
    %span.block
      %input#tos.ace(type="checkbox" name="tos")
      %span.lbl
        I accept the 
        %a{href: '/terms'} User Agreement 
  .space-24
  .clearfix 
    %button.width-30.pull-left.btn.btn-sm{ type: 'reset'}
      %i.icon-refresh
      Reset
    %button.width-65.pull-right.btn.btn-sm.btn-success{ type: 'submit' }
      Place Order
      %i.icon-arrow-right.icon-on-right
