.row 
  .col-xs-6
    =render "clients_not_checking_in"
    - if @scan_reports.empty? 
      .alert.alert-success 
        No scan reports have been requested. 
    - else 
      =render "scans_requested"
    =render partial: "recent_sales"
  .col-xs-6
    =render partial: "leaderboard", locals: { call_center: current_user.call_center }
    %table.table.table-bordered
      %legend Statistics
      %tbody
        %tr
          %td 
            %strong Active Subscriptions
          %td= Business.accessible_by(current_user).includes(:subscription).where("subscriptions.active = true").count()
        %tr
          %td 
            %strong Monthly Fees
          %td= number_to_currency(Business.accessible_by(current_user).includes(:subscription).where("subscriptions.active = true").sum(:monthly_fee)/100.0)

