%h3 Sales Dashboard for #{current_user.full_name}

%a{href: "/users/sign_up?package_id=5&callcenter=1"} Sign up screen


.row 
  .col-xs-6
    =form_tag '/scanner/start' do 
      %fieldset 
        %legend Scan
        .form-group
          =text_field_tag :name, "", placeholder: 'Business Name' 
        .form-group
          =telephone_field_tag :phone, "", placeholder: 'Business Phone' 
        .form-group
          =number_field_tag :zip, "", placeholder: 'Zip'
        .form-group
          = select_tag :package_id, options_from_collection_for_select(Package.where(label_id: current_label.id), 'id','name')
        =hidden_field_tag :referrer_code, current_user.referrer_code
        %button{ type: "submit", class: "btn btn-default btn-sm"} Start Scan

    = render partial: "recent_sales"
  .col-xs-6 
    =render partial: "leaderboard", locals: { call_center: current_user.manager.call_center }
