.row 
  .col-xs-12.col-sm-5
    -@dashboard.alerts.each do |alert|
      = render partial: alert.to_s 

  .col-xs-12.col-sm-4 
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %td Client Check In 
          %td= @dashboard.client_checkin.nil? ? "Never" : time_ago_in_words( @dashboard.client_checkin ) + " ago"
        %tr
          %td Last Sync 
          %td Never 
        %tr
          %td Client Downloaded
          %td= @dashboard.is_client_downloaded ? "Yes" : "No"

  .col-xs-12.col-sm-3 
    =link_to new_business_download_path(@dashboard.business), class: "btn btn-grey btn-block" do 
      %i.icon-download-alt.bigger-230
      Get Sync Client
    %a.btn.btn-info.btn-block
      %i.icon-refresh.bigger-230
      Sync
    %a.btn.btn-primary.btn-block
      %i.icon-download-alt.bigger-230
      Support Ticket

