!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
  %body 
    %div
      =image_tag @business.label.logo.url
    %p Thank you for your purchase. Here is your receipt from #{@business.label.name} 
    %table
      %tbody 
        %tr
          %td Sign-Up Fee
          %td
            %strong= number_to_currency(@business.transaction_event.price)
        %tr
          %td Monthly Fee 
          %td
            %strong= number_to_currency(@business.transaction_event.monthly_fee)


