%table.table.table-striped
  %thead
    %tr
      %th Status 
      %th Name 
      %th Message
      %th Created at 
      %th 
  %tbody
    -@jobs.each do |job| 
      %tr
        %td= job.status
        %td= job.name 
        %td= job.status_message 
        %td= job.created_at
        %td
