#client_manager.row
  .col-xs-12
    .row
      .col-xs-6
        %h5= @business.business_name
      .col-xs-6

        %dl.dl-horizontal
          %dt Checked in
          %dd #{@business.client_checkin}
          %dt Created
          %dd #{@business.created_at}
          %dt Updated
          %dd #{@business.updated_at}
    .row
      .col-md-12
        %ul.nav.nav-tabs
          %li
            %a{href: "#pending", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'job'), toggle: "tab"}} Pending
          %li
            %a{href: "#failed", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'failed_job'), toggle: "tab"}} Failed
          %li
            %a{href: "#succeeded", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'completed_job'), toggle: "tab"}} Succeeded
          %li
            %a{href: "#errors", data: { path: client_manager_booboos_path(format: :json, business_id: @business.id ), toggle: "tab"}} Errors
          %li
            %a{href: "#latest", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'latest'), toggle: "tab"}} Latest
        .tab-content
          #pending.tab-pane.active
          #failed.tab-pane
          #succeeded.tab-pane
          #errors.tab-pane
          #latest.tab-pane

%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"}
%script{id: "jobs-template", type: "text/x-handlebars-template"} 
  %table.table.table-striped.jobs
    %thead
      %tr
        %th Status 
        %th Name 
        %th Message
        %th Created at 
        %th 
    %tbody
      {{#each jobs}}
      %tr{ "data-job-id" => "{{id}}",  "data-class-name" => "{{class_name}}" }
        %td
          {{#if is_missing}}
          %span.missing Missing 
          {{else}}
          %button.btn.btn-xs.btn-danger.delete_job{ :title => "Delete Job" } 
            %i.icon-trash
          {{#if has_errors}}
          %span.btn.btn-xs.btn-inverse.rerun{title: "Rerun Job"} 
            %i.icon-refresh
          {{/if}}
          %span.btn.btn-xs.btn-info.view_meta{ :title => "View Meta" }
            %i.icon-file-text
          .hide.meta
            %h4 Payload
            %p {{payload}} 
            %hr.hr-12.hr-double
            %h4 Data 
            %p {{data}}
            %hr.hr-12.hr-double
            %h4 Status Message 
            %p {{status-message}}
            %hr.hr-12.hr-double
            %h4 Backtrace 
            %p {{backtrace}}
            %hr.hr-12.hr-double
            %img{ src: "{{screenshot_url}}", alt: "No screen shot"} 
          {{/if}}
        %td {{name}}
        %td
          .status-message{ title: "{{status_message}}"} {{status_message}}
        %td {{created_at}}
        %td
          {{/each}}

%script{id: "booboos-template", type: "text/x-handlebars-template"} 
  %table.table.table-striped
    %tbody
      {{#each booboos}}
      %tr.view_booboo
        %td {{message}}
      {{/each}}

:javascript 
  $( function(){ 
    initialize_client_manager(); 
    }); 
