.row
  .col-xs-6
    #payloads_status
    .space4
    %form.form-inline{:role => 'form'}
      = select_tag(:payloads_site, options_from_collection_for_select(Site.all, :id, :name))
      = select_tag(:payloads_mode, options_from_collection_for_select(Mode.all, :id, :name))
      = button_tag("Delete", :id => :payloads_delete)
    #payloads_tree.aciTree
  .col-xs-6#payloads_view
    %form#payloads_form.form-horizontal{:role => 'form'}
      %input#payloads_parent_id{:type => :hidden, :name => 'payload[parent_id]' }/
      %input#payloads_site_id{:type => :hidden, :name => 'payload[site_id]' }/
      .form-group
        %label.col-sm-3.control-label.no-padding-right{:for => 'payload[name]'}
          Name
        .col-sm-3
          %input{:type => :text, :name => 'payload[name]'}/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{:for => 'payload[active]'}
          Active
        .col-sm-3
          %input{:type => :checkbox, :name => 'payload[active]'}/
      .space-4
      .clearfix.form-actions
        .col-md-offset-3.col-md-9
          %input#payloads_update.btn.btn-info{:type => :button, :value => 'Update' }
          %input#payloads_create.btn.btn-warning{:type => :button, :value => 'Create New' }
