.row 
  .col-md-6
    .dataTables_info
      = # page_entries_info @labels, model: "Label"
  .col-md-6
    .dataTables_paginate.paging_bootstrap
      = will_paginate @labels #, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1
