.notification-modal-title-row
  %h3 To Do List
-if @notifications.length == 0 
  %p You do not have any tasks to complete. 
-else 
  %p Please complete these steps immediately to ensure maximum exposure for your business:
  %dl
    = render @notifications
