.form-group 
  =f.label :access_level, "Role", class: "col-sm-3 control-label no-padding-right"
  .col-sm-9
    =f.select :access_level, User::TYPES.collect{|k,v| [ k.to_s.humanize, v ] }, {}, disabled: true
