.space-10
.form-group
  =f.label :password, class: "control-label no-padding-right col-sm-3"
  .col-sm-9
    =f.password_field :password
.form-group
  =f.label :password_confirmation, "Type Password Again", class: "control-label no-padding-right col-sm-3"
  .col-sm-9
    =f.password_field :password_confirmation
