#step2.step-pane
  %fieldset
    %legend.lighter.block.green Contact Information
    .row
      .col-xs-3
        .form-group
          =f.label :prefix
          =f.select :prefix, Business.prefix_list, {}, {class: "form-control"}
        .form-group 
          =f.label :gender
          =f.select :prefix, Business.gender_list, {}, {class: "form-control"}
        .form-group 
          =f.label :first_name
          =f.text_field :first_name, class: "form-control"
        .form-group 
          =f.label :middle_name 
          =f.text_field :middle_name, class: "form-control"
        .form-group 
          =f.label :last_name 
          =f.text_field :last_name, class: "form-control"
        .form-group
          =f.label :date_of_birth
          .input-group
            =f.text_field :date_of_birth, class: "form-control date-picker", type: "date", "data-date-format" => "dd-mm-yyyy"
            %span.input-group-addon
              %i.icon-calendar.bigger-110
        .form-group 
          =f.label :mobile_phone, "Mobile Phone"
          =f.telephone_field :mobile_phone, class: "form-control"
    .row
      .col-xs-6
        .control-group 
          %label.control-label Should Mobile Number Appear on Listings?
          .radio
            %label
              =f.radio_button :mobile_appears, true
              %span.lbl Yes
          .radio
            %label
              =f.radio_button :mobile_appears, false
              %span.lbl No

