%section{:id => 'section-contact-information'}
  = @f.inputs :contact_information, :class => 'inputs tab-pane', :id => 'section1' do
    %p Simply a place holder for story "Make Step 1 on business form be Contact Inofrmation"
    %a{:href=>"https://www.pivotaltracker.com/story/show/50184261" } 50184261
