%section{:id => 'section-download-client'}
  %h3 Download Client Software
  %p Use the button below to download the client software for this business. For best results this software should be installed on a system at the business location.
  .well
    %a.btn.btn-warning.btn-large{:href => "/downloads/#{@business.id}"} Download Client
