%ul.nav.nav-tabs
  %li
    %a{'data-toggle' => 'tab', :href => '#section1'} 1. Business Details
  %li
    %a{'data-toggle' => 'tab', :href => '#section2'} 2. Payment Methods
  %li
    %a{'data-toggle' => 'tab', :href => '#section3'} 3. Business Hours
  %li
    %a{'data-toggle' => 'tab', :href => '#section4'} 4. Company Description
  %li
    %a{'data-toggle' => 'tab', :href => '#section5'} 5. Keywords
  %li
    %a{'data-toggle' => 'tab', :href => '#section6'} 6. Mail Settings
  %li
    %a{'data-toggle' => 'tab', :href => '#section7'} 7. Existing Accounts
  %li
    %a{'data-toggle' => 'tab', :href => '#section8'} 8. Categories
  %li
    %a{'data-toggle' => 'tab', :href => '#section9'} 9. Logo
  %li
    %a{'data-toggle' => 'tab', :href => '#section10'}
      = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
