%ul.nav.nav-list.form-sidenav.affix
  %li
    %a{:href => '#section-business-details'}
      %i.icon-chevron-right
      1. Business Details
  %li
    %a{:href => '#section-payment-methods'}
      %i.icon-chevron-right
      2. Payment Methods
  %li
    %a{:href => '#section-business-hours'}
      %i.icon-chevron-right
      3. Business Hours
  %li
    %a{:href => '#section-company-description'}
      %i.icon-chevron-right
      4. Company Description
  %li
    %a{:href => '#section-keywords'}
      %i.icon-chevron-right
      5. Keywords
  %li
    %a{:href => '#section-mail-settings'}
      %i.icon-chevron-right
      6. Mail Settings
  %li
    %a{:href => '#section-existing-accounts'}
      %i.icon-chevron-right
      7. Existing Accounts
  %li
    %a{:href => '#section-categories'}
      %i.icon-chevron-right
      8. Categories
  %li
    %a{:href => '#section-logo'}
      %i.icon-chevron-right
      9. Logo
  %li
    %a{:href => '#;',:onclick =>'save_stages()'}
      %i.icon-chevron-right
      = image_tag "Save Stage", :name => "save_stage", :class => 'btn btn-large btn-primary'
