= @f.inputs "Payment Methods", :class => 'inputs tab-pane', :id => 'section2' do
  %ul.payment_methods
    - @business.payment_methods.each do |type|
      %li.payment_method
        = @f.check_box "accepts_#{type}".to_sym
        = type.capitalize
