= @f.inputs "Payment Methods" do
  .well
    %table.table.table-condensed#timetable
      %thead
        %tr
          %td Method
      %tbody
        - @business.payment_methods.each do |type|
          %tr.acceptrow
            %td
              %label.checkbox
                = @f.check_box "accepts_#{type}".to_sym
                = type.capitalize
