%section{:id => 'section-payment-methods'}
  = @f.inputs "Payment Methods", :class => 'inputs tab-pane', :id => 'section2' do
    %ul.payment_methods
      - @business.payment_methods.each do |type|
        %li.payment_method
          %label.checkbox
            = @f.check_box "accepts_#{type}".to_sym
            = type.capitalize






