#zip_search_form
  %form{:class => 'well form form-horizontal', :id => 'zipform'}
    .control-group
      %label.control-label{ :for => :zip } Search by Zip
      .controls
        .input-append
          = text_field_tag :zip
          %button.btn{:id => "zipsearch"} Search
          .zipcode-error.alert-error{style:"display: none; position: absolute; font-size: 12px;text-indent: 5px; padding-right: 20px;"} No result for zip code.
    .control-group
      %label.control-label{ :for => :state } State
      .controls
        = select_tag :state, options_for_select(Carmen::states('US'), 'CA')
    .control-group
      %label.control-label{ :for => :city } City
      .controls
        = text_field_tag :city
    .control-group
      %label.control-label{ :for => :company_name } Company Name
      .controls
        .input-append
          = text_field_tag :company_name
          %input.btn{:id => :search, :value => "Search", :type => 'button' }/
  #business_results
