.row
  .col-xs-12
    %h3.header.smaller.lighter.blue Coupons
    = button_to "New Coupon", new_coupon_path, :class => "btn btn-info", :method => :get
    .table-header
      Your Coupons
    .table-responsive
      %table#sample-table-2.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Coupon Name
            %th Coupon Code
            %th Percent Off (Monthly)
            %th Percent Off (Signup)
            %th Dollars Off (Signup)
            %th Dollars Off (Monthly)
            %th Redeemed
            %th Max
            %th Status
            %th Actions
        %tbody
          = render @coupons
