%h3 Welcome to Netversa Citation Manager
%br
%p Our system keeps your business listings up to date with no work on your part!

%br
%h4 Download the application using the link below.
= link_to "Download", "/downloads", :class => 'large blue nice button radius'

%p After download, run the installer by double clicking on it and  ... that&#39;s it! We'll start the process of updating your local search listings.
