%ul.displayList
  - colors = ["ui-icon-mail-closed info","ui-icon-mail-open warning",nil, nil, "ui-icon-circle-check success", "ui-icon-alert failure", "ui-icon-notice missing"]
  - @jobs.each do |job|
    %li.ui-state-default.ui-corner-all{ :data => { "job-id" => job.id}}
      - color = colors[job.status] || "info"
      %span.ui-icon{:title => job.status_message, :class => color}
      - if job.new_record? # missing job
        %span.ui-icon.ui-icon-cancel{title: 'Missing job'}
        %span.ui-icon.ui-icon-cancel{title: 'Missing job'}
        - if job.class == FailedJob
          %span.ui-icon.ui-icon-alert{title: 'Missing job'}
        %span.ui-icon.ui-icon-cancel{title: 'Missing job'}
        - if job.class != Job
          %span.ui-icon.ui-icon-cancel{title: 'Missing job'}
      - else
        %span.ui-icon.ui-icon-trash.delete_job{ :title=> "Delete Job"}
        %span.ui-icon.ui-icon-script.view_payload{ :title => "View Payload"}
        - if job.class == FailedJob
          %span.ui-icon.ui-icon-alert.view_backtrace{ :title => "View Backtrace" }
        %span.ui-icon.ui-icon-tag.view_meta{ :title => "View Meta" }
        - if job.class != Job
          %span.ui-icon.ui-icon-triangle-1-w.rerun{ :title => "Rerun Job"}
      = job.name
      - if job.created_at != nil
        %span{:style => 'color: green;'}
          = distance_of_time_in_words_to_now(job.created_at)
