.row-fluid.span12
  .content_3_back
  .content_3
    .span4
      .content_4
        %p.con_title Businesses face several challeges managing their online presence.
        %p.con_sub_txt Business information changes regularly, not only as a business opens, closes, or moves.
        %p.con_sub_txt But also with special offers, new products, employee hires, holiday hours and more.
        %p.con_sub_txt Jumbled and inconsistent information creates a frustrated and misinformed user.
    .span4
      .content_5
        %p.sub_title Here are a few clients proudly using TownCenter already.
        = image_tag "images/marks.png"
    .span4
      .content_4
        %p.con_title Town Centers one-point control saves you hours.
        %p.con_sub_txt Setup takes just minutes and your listings will go live in no time!
        %p.con_sub_txt Communicate with the large crowd of sites through one simple database listing.
        %p.con_sub_txt Town Center will keep posted business information current on 45+ (growing quickly) of the most popularly used sites.
        %a.scan_now{:href => "/scan"}
