%footer
  .footer_content
    .container
      .row-fluid.span12
        %ul.footer_nav_l
          %li
            %a{:href => "/"} HOME
          %li
            %a{:href => "/learn_more"} LEARN MORE
          %li
            %a{:href => "/packages"} PACKAGES
          %li
            %a{:href => "/get_started"} GET STARTED
          %li
            %a{:href => "/reviews"} REVIEWS
          %li
            %a{:href => "/contact_us"} CONTACT
          %li
            %a{:href => "/users/sign_in"} SIGN-IN
        %ul.footer_nav_r
          %li
            %a{:href => "https://www.facebook.com/towncentersolutions"}
              %img{:alt => "Facebook", :src => "/assets/facebook.png"}/
          %li
            %a{:href => "https://twitter.com/thetowncenter"}
              %img{:alt => "Twitter", :src => "/assets/twitter.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "LinkedIn", :src => "/assets/link_in.png"}/
  .footer_sub_content
    .container
      .row-fluid.span12
        %p.footer_mark &copy; 2012 TownCenter  All Rights Reserved.
