%table.table.table-bordered
  %thead
    %tr
      %th Business Name
      %th Package
      %th Download
  - current_user.businesses.each do |business|
    %tbody
      %tr
        %td
          %a.btn.btn-info{:href => edit_business_path(business.id)} #{business.business_name}
        %td
          Default
        %td
          %a.btn.btn-warning.btn-large{:href => "/downloads/#{business.id}"} Download Client
