=image_tag("/assets/illustration.png", :style => 'margin-left: 60px')

.row
  .span3
    %h2 Why to Buy
    %p Some compelling reasons to buy our product. It's quite a nice product and you should try it.
  .span3.offset1
    %h2 Excellent Feature
    %p Awesome product, really should sign up.  It's quite a nice product and you should try it.

%a.btn.btn-info.btn-large{:href => '/users/sign_up'} Buy
