- if @cost_center.errors.any? 
  .alert.alert-danger 
    %ul 
      - @cost_center.errors.full_messages.each do |m| 
        %li=m

= form_for @cost_center, :class => "form-horizontal" do |f|
  .form-group 
    =f.label :label, class: "col-sm-3 control-label no-padding-right"
    .col-sm-9
      =f.select :label_id, Label.accessible_by(current_ability).collect{|r| [r.name, r.id]}
  .form-group 
    =f.label :name, class: "col-sm-3 control-label no-padding-right"
    .col-sm-9
      %span.input-icon.input-icon-right
        =f.text_field :name

  = f.submit :class => "btn btn-info"
