%h3 Scan Results

%h4#name
  = @name
%h4#zip
  = @zip

#sites
  %h2 Scanning...
  %img{:src => '/assets/progress.gif'}

:javascript
  $(document).ready(function(){
    name = escape($.trim($('#name').html()));
    zip  = $.trim($('#zip').html());
    $.getJSON('/scan/sites.json', function(data){
      $('#sites').html('<table><tbody id="sitestable"></tbody></table>')
      $.each(data, function(i,e){
        $('#sitestable').append('<tr><td>'+e+'</td><td id="'+e+'"></td></tr>')
        $.getJSON('/scan/sites/'+e+'.json?name='+name+'&zip='+zip, function(data){
          if(data['error'] == null) {
            $('#'+e).html(e+": "+JSON.stringify(data['result']));
          } else {
            $('#'+e).html(e+': Error');
          }
        });
      });
    });
  });
