.row 
  .col-md-6
    .dataTables_info
      = page_entries_info @subscriptions
  .col-md-6
    .dataTables_paginate.paging_bootstrap
      = will_paginate @subscriptions, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1