.row
  .col-xs-12 
    - if @subscriptions.blank? 
      .alert.alert-block.alert-success
        No subscriptions were found. 
    - else 
      .widget-box 
        .widget-header 
          %h4 Search 
        .widget-body
          .widget-main
            =search_form_for @q, class:"form-search" do |f|
              .row
                .col-xs-6
                  %select#business_id.chosen-select{ data: { placeholder: "Select Business Id..."} }
                .col-xs-5
                  .input-group
                    =f.text_field :business_referrer_code_start,  placeholder: "Referrer Code", class: "form-control search-query"
                    %span.input-group-btn
                      %button.btn.btn-purple.btn-sm
                        Search
                        %i.icon-search.icon-on-right.bigger-110

      .dataTables_wrapper
        =render 'index_table'
        =render 'will_paginate'

:javascript 
  window.business_id = #{params[:q] && params[:q][:business_id_eq] ? params[:q][:business_id_eq]:'""'};

  $( function() {  
    options_template = Handlebars.compile($("#options-template").html()); 

    $.getJSON("/businesses.json", function(data) {  
      $("#business_id").html( options_template(data));
      $("#business_id").val( window.business_id ); 

      $(".chosen-select").chosen();

      $("#business_id").on( 'change', function() {  
        window.location.href = "/subscriptions?q%5Bbusiness_id_eq%5D=" + $(this).val()
      } );
      }); 
  });

%script{id: "options-template", type: "text/x-handlebars-template"} 
  {{#each businesses}}
  %option{ value: "{{id}}" } {{business_name}} ( {{id}} )
  {{/each}}



