.page-header
  %h1 Subscription
.row
  .col-xs-12 
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %td Package Name 
            %td= @subscription.package.name
          %tr
            %td Monthly Fee 
            %td= @subscription.monthly_fee
          %tr
            %td Started 
            %td= @subscription.created_at
          %tr
            %td Billing Type
            %td Monthly

