=form_for [:admin, @credit_event] do |f| 
  %fieldset.inputs 
    %legend
      %span Transfer to #{@credit_event.other.name}
      =f.hidden_field :other_id
    %ol
      %li.number.input.optional.numeric.stringish
        =f.label :charge_amount, "Payment Amount"
        =f.text_field :charge_amount, :value => number_with_precision(f.object.charge_amount, precision: 2)
      %li.number.input.optional.stringish
        =f.label :memo, "Memo"
        =f.text_field :memo
  %fieldset.actions
    %ol
      %li.action.input_action
        =f.submit "Transfer Funds"


