%h3 #{klass.to_s}
- unless klass.nil?
  - if klass.categories.nil?
    No categories
  - else
    %div{:id => 'selected_'+klass.to_s}
      = category_name
    %input{:id => 'category_'+klass.to_s, :name => 'category_'+klass.to_s, :value => '', :value => klass.to_s, :type => :hidden}/
    %div.category_select{:id => 'selector_'+klass.to_s}
  %br
  %br
- else
  %br
