%h3 #{klass.to_s}
- unless klass.nil?
  - if klass.categories.nil?
    No categories
  - else
    %div{:id => 'selected_'+klass.to_s}
      = category_name
    %input{:id => 'category_'+klass.to_s, :name => 'category_'+klass.to_s, :value => '', :value => klass.to_s, :type => :hidden}/
    %select{:class => 'admin_category_box', 'data-model' => klass.to_s}
      = klass.blist_categories(nil).each do |category|
        %option{:value => category[1]}
          = category[0]
    .subs
  %br
  %br
- else
  %br
