// Active Admin CSS Styles
/*
 *= require aa-jquery-ui
 */

@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
#client_tabs {  
  width: 920px; 

  div { 
    padding: 0; 

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .view_booboo:hover { 
        cursor: pointer; 
        background-color: #aaaaaa;
      }

      li { 
        margin: 0; 
        padding: 1px 0; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span { 
          margin-right: 4px;
          float: left; 
          display: block; 
        }
      }
    }
  }
}

#client_tabs_top li .ui-icon {
  float: left;
  margin-left: 6px;
  margin-top:  6px;
}
#payload_list_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

$success: #9F9;
$warning: #FF9;
$failure: #F99;
$info   : #99F;
.success {
  box-shadow: 0px 0px 3px $success;
  border-radius: 5px;
  background-color: $success;
}
.warning {
  box-shadow: 0px 0px 3px $warning;
  border-radius: 5px;
  background-color: $warning;
}
.failure {
  box-shadow: 0px 0px 3px $failure;
  border-radius: 5px;
  background-color: $failure;
}
.info {
  box-shadow: 0px 0px 3px $info;
  border-radius: 5px;
  background-color: $info;
}
#payload_list_ul {
  margin-top: 20px;
}

.ui-icon-carat-1-e {
  float: left;
}

