// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#business_steps 
  .step-title 
    min-height: 20px 
    border-radius: 0
    padding-left: 0
    padding-right: 0
    width: 99.5% !important
    min-height: 28px
    display: block
  
  .step-title .step-order 
    float: left 
    margin-left: 12% 

  .step-title .step-name 
    float: left 
    margin-left: 2% 

  .step-title i
    float: right 
    margin-right: 7% 
    margin-top: 2% 

  .next-button, .submit-button, .back-button
    float:  right
    margin: 3px

.checkicon
  width: 48px
  height: 48px

#startJobs
  float: right

.payment_methods
  list-style-type: none
  margin: 0px
  padding: 0px
  height: 130px

.payment_method
  float: left
  padding: 5px
  width: 200px

#business_business_description
  height: 300px

.timeitem
  width: 100px


.bnone
  border: none!important

#checklist
  width: 100%

.pnone
  padding: 0px!important
  border: none!important

.btime
  color: #B94A48
  

#display_form
  display: none

#zipform
  overflow: hidden
