// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkicon {
  width: 48px;
  height: 48px;
}

#startJobs {
  float: right;
}
