// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#business_steps 
  .step-title 
    min-height: 20px 
    border-radius: 0
    padding-left: 0
    padding-right: 0
    width: 99.5% !important
    min-height: 28px
    display: block
  
  .step-title .step-order 
    float: left 
    margin-left: 12% 

  .step-title .step-name 
    float: left 
    margin-left: 2% 

  .step-title i
    float: right 
    margin-right: 7% 
    margin-top: 2% 

  .next-button, .submit-button, .back-button
    float:  right
    margin: 3px

.checkicon
  width: 48px
  height: 48px

#startJobs
  float: right

.payment_methods
  list-style-type: none
  margin: 0px
  padding: 0px
  height: 130px

.payment_method
  float: left
  padding: 5px
  width: 200px

#business_business_description
  height: 300px

.timeitem
  width: 100px


.bnone
  border: none!important

#checklist
  width: 100%

.pnone
  padding: 0px!important
  border: none!important

.btime
  color: #B94A48
  
#display_form
  display: none

#zipform
  overflow: hidden

#pagination
  margin-left: -7px

#pagination li
  float: left
  margin-left: 10px
  list-style: none outside none
  margin-top: 25px
  border: 1px solid #ccc
  color: #003399
  padding-left: 5px
  padding-right: 5px

.table
  margin: 0px
  padding: 0px
  list-style: none
  border-top: 1px solid #ccc

.table li
  margin: 0px
  padding: 0px
  list-style: none
  display: block
  border: 1px solid #ccc
  border-top: none
  clear: both
  overflow: hidden

.table .img
  float: left
  width: 100px
  border-right: 1px solid #ccc
  padding: 5px
  text-align: center
  line-height: 60px

.table .details
  float: left
  width: 300px
  border-right: 1px solid #ccc
  line-height: 81px
  padding-left: 20px

.table .details1
  float: left
  line-height: 81px
  padding-left: 20px

.table .button
  float: right
  width: 90px
  border-left: 1px solid #ccc
  text-align: center
  line-height: 81px

#zipform
  overflow: hidden


#linking
  margin-left: -50px
  width: 210px

.bordercolor
  border: 2px solid #000000

#imglogo
  position: relative
  

#imglogo button
  position: absolute
  display: none

#imglogo .remove_thumbnail
  right: 4px
  top: 4px
.active-block
  border: solid 1px #1b3b6f
.active-block .set-logo
  display: none !important


#imglogo .set-logo
  right: 4px
  top: 4px

#imglogo #setlogo
  top: 4px
  left: 57px

#imglogo:hover button
  display: block

#next-validation
  bottom: -36px
  position: absolute
  right: 0
  z-index: 9999

#timetable
  position: relative