div.ajax-progress {
  position: fixed;
  display: none;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  background-image: url('ajax-loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 1000; 
}

.jquery_form_error_message {
  display: block;
  margin-top: 3px;
}

.sign_In {
  width: 100%;
  float: left;
  margin-left: 685px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #808080;
}

.sign_In a{
  color: #808080;
}

.signed_in { 
   background-image: url('/assets/blend.png'); 
 }

header, footer { 
    background-image: url('/assets/header-bg.png');
    height: 52px;
  }
header .navbar-inner { background: none; border: none; } 
header .navbar-inner .nav > li > a { text-shadow: none; } 
header .navbar-inner .container { width: 940px; } 

footer {  color: white; text-align: center; line-height: 52px; }  

.sync[disabled] { display: none; }  

.sync {
  margin-top: 70px; 
  border-radius: 23px 23px 23px 23px; 
  box-shadow: 0px 2px 1px #0999ba;  
  }

.business_options { background: none; 
  background-color: white; 
  padding-bottom: 20px; 
  }

.citation-info-row {
  $base-color: #00c2e6; 
  height: 176px; 
  background-image: url('/assets/blue-gradient.png');
  margin-top: 10px; 

 .citation-info {
    float: left; 
    background-image: url('/assets/blue-box-gradient.png');
    height: 136px;
    width: 195px; 
    color: white; 
    margin-right: 20px; 
    text-align: center; 
    padding-top: 40px; 

    h1 { font-size: 72px; 
      font-weight: 500; 
      padding-bottom: 20px; } 
 }
} 

.business-summary {
  font-family: arial; 
   padding: 20px 0; 
   
   .business-info
   {
     background: white; 
     height: 268px;
     box-shadow: 2px 2px 3px rgba(0,0,0, 0.18);
     padding: 0 40px 0 40px; 
     margin-bottom: 20px; 

     address { 
       color: #656565; 
       padding-top: 40px; 
       line-height: 21px;

       strong { color: #4c4c4c; font-size: 23px; } 
     } 
   }
   .business-info .pending 
   {
     padding: 50px 0 0 0; 
     text-align: center; 
     h3 { color: #00c2e6; font-size:28px; }
     h1 { padding-top: 30px; font-size: 87px; color: #be1212; font-weight: bold; }
   }  

   .business-button:hover { text-decoration: none; }  

   .business-button{ 
     display: block; 
     height: 70px;
     line-height: 70px; 
     text-align: center; 
     color: white;
     text-shadow: 0 3px 0 #F89406;
     font-size: 23px; 

     box-shadow: 2px 2px 3px rgba(0,0,0, 0.18);
     border-style: solid; 
     border-width: 1px; 
     border-color: white; 
     background: #fbb450; /* Old browsers */
     background: -moz-linear-gradient(top,  #fbb450 0%, #f89406 100%, #2989d8 100%, #f89406 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbb450), color-stop(100%,#f89406), color-stop(100%,#2989d8), color-stop(100%,#f89406)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  #fbb450 0%,#f89406 100%,#2989d8 100%,#f89406 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  #fbb450 0%,#f89406 100%,#2989d8 100%,#f89406 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  #fbb450 0%,#f89406 100%,#2989d8 100%,#f89406 100%); /* IE10+ */
     background: linear-gradient(to bottom,  #fbb450 0%,#f89406 100%,#2989d8 100%,#f89406 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb450', endColorstr='#f89406',GradientType=0 ); /* IE6-9 */
   }

 }
#section-download-client
{
  .thumbnails { border-bottom: thick dotted #aaa } 
  .thumbnail { 
    border: none; 
    box-shadow: none; 
  }

}

abbr[title] {
  color: red;
  font-size: 20px;
  margin-left: 5px;
  border-bottom: medium none;
}

.star_required {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.star_required span{color:red;font-size: 20px;}
  
.site-combo {margin-left:40px;float:left;}
#cboxClose { border: none; }
