body {
	background-image: url(/assets/mock_bg.jpg);
}

ul.topright {
	margin-left: 400px;
	padding:     0; 
	margin:      0;
	float: right;
}

ul.topright li { 
	list-style-type:none; 
	display: inline;
	border-right: 1px solid black;
	margin-left: 5px;
	padding-right: 5px;
}
ul.topright a, ul.topright a:hover, ul.topright a:active, ul.topright a:link, ul.topright a:visited {
	color: #444;
	font-size: 10pt;
}

li.noborder {
	border-right: none;
}
