/** Override Bootstrap & Custom Styles **/
.container {
	width:990px;
}
body {
	background:#FFF url('/assets/body_bg.jpg');
}
h1, h2, h3, h4, h5, h6, .section-title {
	color:#474747;
}
h1 {font-size:24px;}
h2 {font-size:21px;}
h3 {font-size:18px;}
h4 {font-size:15px;}
h5, h6 {font-size:12px;}
h1, h3, .section-title {
	background:transparent url('/assets/htag_bottom_line.png') left bottom repeat-x;
}
h4.section-label {
	font-size:25px;
	color:#304852;
}
.page-title {
	color:#09b0e1;
	font-size:39px;
	margin:30px 0 20px;
	padding:0 3px 20px;
	position:relative;
	background:transparent url('/assets/htag_bottom_line2.png') center bottom no-repeat;
}
.page-title span {
	position:absolute;
	bottom:4px;
	right:0;
	font-size:14px;
	font-weight:normal;
	color:#000;
	font-family:'CALIBRI', Arial, sans-serif;
}
.page-title span a {
	color:#0c5082;
}
.section-title {
	display:block;
	padding-bottom:8px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
	margin:10px 0;
}
.readmore {
	color:#27b9e5;
	font-family:'CALIBRIZ', Arial, sans-serif;
	text-decoration:underline;
	font-size:14px;
	padding-left:10px;
}
.rb-box {
	width:453px;
	display:block;
	background:transparent;
}
.rb-box-top {
	width:453px;
	height:14px;
	background:transparent url('/assets/rb_top.png') center top no-repeat;
}
.rb-box-inner {
	padding:5px 15px;
	text-align:justify;
	font-family:'CALIBRII', Arial, sans-serif;
	background:transparent url('/assets/rb_bg.png') center center repeat-y;
}
.rb-box-bottom {
	width:453px;
	height:29px;
	background:transparent url('/assets/rb_bottom.png') center bottom no-repeat;
}
.blockquote-start {
	width:24px;
	height:17px;
	display:block;
	margin-bottom:4px;
	background:transparent url('/assets/blockquote_start.png') center center no-repeat;
}
.blockquote-end {
	width:23px;
	height:17px;
	display:inline-block;
	position:relative;
	top:4px;
	left:-2px;
	background:transparent url('/assets/blockquote_end.png') center center no-repeat;
}
input, textarea {
	outline:none;
}
input.error {
	border:1px solid red;
}
ul.styled {
	margin:0 0 10px 4px;
	padding:0;
}
ul.styled li {
	list-style:none;
	background:transparent url('/assets/list_icon.jpg') left center no-repeat;
	padding-left:25px;
	font-size:15px;
	line-height:32px;
	display:block;
}
.seperator {
	border-bottom:2px dotted #c1c1c1;
	margin:4px 10px;
}
.MT10 {margin-top:10px;}
.MT20 {margin-top:20px;}
.MT30 {margin-top:30px;}
.MT40 {margin-top:40px;}
.MB10 {margin-bottom:10px;}
.MB20 {margin-bottom:20px;}
.MB30 {margin-bottom:30px;}
.MB40 {margin-bottom:40px;}


/** Header Stylist **/
#header {
	height:74px;
	width:100%;
	background:transparent url('/assets/top_header_bg.jpg');
}
#header .container .brand {
	width:235px;
	height:52px;
	background:transparent url('/assets/town_center_logo.jpg') center bottom no-repeat;
	display:block;
	margin-top:-4px;
	text-indent:-10000px;
}
#header .container .brand h1 {
	background:none;
}
#header .container .span8, #header .container .navbar {
	float:right;
}
#header .container .navbar {
	position:relative;
	right:-10px;
}
#header .container .nav {
	margin-top:20px;
}
#header .container .nav li{}
#header .container .nav li a{
	text-transform:uppercase;
	font-size:16px;
	font-family:Calibri;
	color:#FFF;
	text-shadow:none;
	background:transparent url('/assets/top_nav_bg.jpg');
	padding-top:0;
	padding-bottom:0;
	line-height:37px;
	height:37px;
	overflow:hidden;
}
#header .container .nav li span.nav-start, #header .container .nav li span.nav-end {
	width:7px;
	height:37px;
	display:block;
}
#header .container .nav li span.nav-start {
	background:transparent url('/assets/top_nav_start.jpg') left center no-repeat;
}
#header .container .nav li span.nav-end {
	background:transparent url('/assets/top_nav_end.jpg') right center no-repeat;
}
#header .container .nav li span.nav-seperator {
	width:6px;
	height:37px;
	display:block;
	background:transparent url('/assets/top_nav_seperator.jpg') center center no-repeat;
}


/** Top Banner Styling **/
#top-banner {
	width:100%;
	height:388px;
	background:#FFF url('/assets/top_banner.jpg') center center no-repeat;
}
#top-banner .row {
	margin-top:16px;
}
#top-banner .row .span8 {
	width:706px;
}
#top-banner .row .span4 {
	width:283px;
	margin-left:0;
}
#top-banner .banner-social-btns {
	width:706px;
	height:364px;
	position:relative;
	background:transparent url('/assets/top_banner_social_bg.jpg') center center no-repeat;
}
#top-banner .banner-social-btns .social-icon-large {
	text-indent:-10000px;
	display:block;
	position:absolute;
	background:transparent url('/assets/top_banner_social_icons.png');
}
#top-banner .banner-social-btns .facebook-icon-large {
	width:100px;
	height:110px;
	background-position:-330px 0;
	z-index:5;
	top:108px;
	left:231px;
}
#top-banner .banner-social-btns .twitter-icon-large {
	width:100px;
	height:110px;
	background-position:-5px -102px;
	z-index:4;
	top:170px;
	left:79px;
}
#top-banner .banner-social-btns .googleplus-icon-large {
	width:100px;
	height:110px;
	background-position:-105px 0;
	z-index:6;
	top:168px;
	left:286px;
}
#top-banner .banner-social-btns .yahoo-icon-large {
	width:100px;
	height:110px;
	background-position:-220px 0;
	z-index:5;
	top:108px;
	left:117px;
}
#top-banner .banner-social-btns .youtube-icon-large {
	width:100px;
	height:110px;
	z-index:6;
	top:172px;
	left:187px;
}
#top-banner .banner-social-btns .rss-icon-large {
	width:100px;
	height:110px;
	background-position:-105px -102px;
	z-index:6;
	top:125px;
	left:7px;
}
#top-banner .banner-social-btns .banner-block {
	width:387px;
	height:99px;
	display:block;
	position:absolute;
	text-decoration:none;
	background:transparent url('/assets/top_banner_block_bg.png') center center no-repeat;
}
#top-banner .banner-social-btns .block-block1 {
	right:-28px;
	top:112px;
}
#top-banner .banner-social-btns .block-block2 {
	right:-28px;
	top:222px;
}
#top-banner .banner-social-btns .banner-block .block-wrapper {
	padding:10px 58px;
}
#top-banner .banner-social-btns .banner-block .block-title {
	font-size:22px;
	text-transform:uppercase;
	color:#FFF;
	margin-top:5px;
	display:block;
}
#top-banner .banner-social-btns .banner-block .block-info {
	font-size:13px;
	line-height:15px;
	color:#FFF;
	margin-top:5px;
}
#top-banner .banner-form {
	width:283px;
	height:369px;
	left:4px;
	top:2px;
	position:relative;
	background:transparent url('/assets/top_banner_form_bg.jpg') center center no-repeat;
}
#top-banner .banner-form .banner-form-wrapper {
	padding:15px;
}
#top-banner .banner-form .banner-form-title {
	color:#FFF;
	font-size:17px;
	font-weight:bold;
	line-height:19px;
	display:block;
}
#top-banner .banner-form .banner-form-subtitle {
	color:#D0F4FF;
	font-size:13px;
	display:block;
	margin-top:10px;
}
#top-banner .banner-form form {
	margin-top:7px;
}
#top-banner .banner-form form input.text-input {
	width:228px;
	padding:6px 10px;
	margin-bottom:15px;
}
#top-banner .banner-form form input.text-input-city {
	width:127px;
	margin-right:5px;
}
#top-banner .banner-form form input.text-input-zip {
	width:70px;
}
#top-banner .banner-form form input.scan-btn {
	width:190px;
	height:40px;
	border:none;
	cursor:pointer;
	margin:7px auto 0;
	display:block;
	text-indent:-10000px;
	background:transparent url('/assets/scan_now_btn.png') center center no-repeat;
}
#top-banner .banner-form form input.scan-btn:active {
	position:relative;
	top:1px;
}


/** Main Body Styling **/
#main {
	padding:10px;
}
#main p {
	text-align:justify;
	font-size:14px;
	font-family:'CALIBRI', Arial, sans-serif;
}
#main p.contents {
	padding:0 10px 10px;
}
#main #latest-posts {}
#main .latest-post {
	margin-bottom:10px;
	padding:0 10px;
	font-family:'CALIBRII', Arial, sans-serif;
}
#main .latest-post a {
	color:#1d6bb4;
	font-size:18px;
}
#main .latest-post span.post-time {
	display:block;
	font-size:14px;
}
#main .latest-post p {
	font-size:14px;
	font-family:inherit;
}
#main .testimonial-section .rb-box {
	margin-left:5px;
}
#main .testimonial-section .testimonial-by {
	display:block;
	width:258px;
	text-align:right;
	color:#5D5D5D;
	margin-top:-5px;
	font-size:14px;
	font-family:'CALIBRII', Arial, sans-serif;
}
#main .span1 {
	width:7px;
	height:254px;
	margin:30px 0 0 25px;
	background:transparent url('/assets/block_seperator.png') center center no-repeat;
}
#main .span5 {
	width:455px;
}


/** Subscribe Box Styling **/
.subscribe-box {
	background:transparent url('/assets/subscribe_box_bg.jpg') center center no-repeat;
	height:118px;
	width:100%;
	margin:40px 0 20px;
}
.subscribe-box .subscribe-box-wrapper {
	margin:0 160px;
	padding:20px 0 10px;
}
.subscribe-box p {
	text-align:center !important;
	color:#09b0e1 !important;
	font-size:19px !important;
	padding:0 !important;
	margin-bottom:3px !important;
}
.subscribe-box .subscribe-btn {
	text-decoration:none;
	background:transparent url('/assets/subscribe_btn.jpg') center center no-repeat;
	width:190px;
	height:42px;
	display:block;
	margin:auto;
	text-indent:-10000px;
}


/** Content Top Styling **/
#contents-top {
	background:transparent url('/assets/top_banner.jpg') top center no-repeat;
}
#contents-top .container {
	width:990px;
	position:relative;
	top:-7px;
	background:#FFF url('/assets/contents_top_bg.jpg') top center no-repeat;
}
#contents-top .container h3 {
	margin-top:40px;
}
#contents-top .container h4 {
	padding:4px 9px 7px;
}
#contents-top #main {
	padding-left:15px;
	padding-right:15px;
}
#contents-top p {
	font-size:15px;
}


/** Our Customers Section Styling **/
#our-customers {
	height:157px;
	background:transparent url('/assets/customers_bg.jpg');
}
#our-customers h4 {
	color:#474747;
	font-weight:normal;
	font-size:24px;
	margin-top:30px;
}
#our-customers  .customers-list {
	margin:15px 0 0;
	padding:0;
}
#our-customers  .customers-list li{
	list-style:none;
	float:left;
	width:131px;
	height:65px;
	text-align:center;
	background:transparent url('/assets/customer_image_bg.jpg') center center no-repeat;
	margin-right:10px;
}
#our-customers  .customers-list li a{
	display:block;
	width:inherit;
	height:inherit;
}
#our-customers  .customers-list li.customer-asus img {margin-top:19px;}
#our-customers  .customers-list li.customer-symantec img {margin-top:14px;}
#our-customers  .customers-list li.customer-yahoo img {margin-top:19px;}
#our-customers  .customers-list li.customer-bea img {margin-top:7px;}
#our-customers  .customers-list li.customer-netscape img {margin-top:17px;}
#our-customers  .customers-list li.customer-intel img {margin-top:11px;}
#our-customers  .customers-list li.customer-oracle img {margin-top:21px;}


/** Footer Styling **/
#footer {
	width:100%;
	height:70px;
	background:#5C5B5B;
}
#footer .nav {
	margin-top:17px;
}
#footer .nav li a{
	text-shadow:none;
	padding:0;
	margin-right:20px;
}
#footer .copyrights {
	font-size:13px;
	color:#FFF;
}
#footer a {
	color:#FFF;
	border-bottom:1px dashed #5C5B5B;
	text-decoration:none;
}
#footer a:hover {
	border-bottom:1px dashed #FFF;
}
#footer .span7 {
	width:510px;
}
#footer .footer-socials {
	width:215px;
	float:right;
	margin-top:7px;
	margin-right:-10px;
}
#footer .footer-socials span.follow-us-text {
	display:block;
	width:70px;
	float:left;
	color:#FFF;
	font-size:14px;
	margin-top:12px;
}
#footer .footer-socials a {
	float:left;
}
#footer .footer-socials .social-icon-small {
	text-indent:-10000px;
	display:block;
	width:36px;
	height:36px;
	background:transparent url('/assets/footer_social_icons.jpg');
}
#footer .footer-socials .facebook-small-icon {
	background-position:-2px 0;
}
#footer .footer-socials .twitter-small-icon {
	background-position:-35px 0;
}
#footer .footer-socials .youtube-small-icon {
	background-position:-70px 0;
}
#footer .footer-socials .rss-small-icon {
	background-position:-105px 0;
}
#footer .footer-socials .social-icon-small:hover {
	border:none;
}
