body
  font-family: Arial
  font-size: 11px
  width: 100%
  height: 100%
  margin: 0 auto
  padding: 0
  background-size: cover

.inner_page
  background: url('/assets/background_top.jpg') no-repeat
.front_page
  background: url('/assets/background.jpg') no-repeat

.logo_div
  float: left
  margin: 30px 0 0 0

.sign_div
  float: right
  margin: 10px 10px 5px 0
  a
    font-size: 11px
    color: #808080
    line-height: 12px
    padding: 0 5px
    text-decoration: none
    &:hover
      color: #000000

.nav_menu
  float: right
  margin: 0
  list-style: none
  padding: 0
  li
    float: left
    background: url("/assets/menu_nav.png") repeat scroll 0 -9px transparent
    height: 63px
    width: auto

/*.nav_menu li:hover, .nav_menu li.active{
 *	background:url("/assets/menu_nav.png") repeat scroll 0 77px transparent;
 *	height:63px;
 *}

.nav_menu_l
  background: url("/assets/menu_nav_l.png") repeat scroll 0 -8px transparent
  height: 63px
  width: 25px
  float: right
  cursor: pointer

/*.nav_menu_l:hover{
 *	background:url("/assets/menu_nav_l.png") repeat scroll 0 78px transparent;
 *	height:63px;
 *}

.nav_menu_r
  background: url("/assets/menu_nav_r.png") repeat scroll 0 -9px transparent
  height: 63px
  width: 25px
  float: right
  margin-right: -10px
  cursor: pointer

/*.nav_menu_r:hover{
 *	background:url("/assets/menu_nav_r.png") repeat scroll 0 77px transparent;
 *	height:63px;
 *}

.nav_menu
  li:first-child a
    padding: 15px 15px 15px 5px
    border-left: none
  .last a
    padding: 15px 5px 15px 15px
    border-right: none
  li
    a
      color: #FFFFFF
      float: left
      font-size: 14.5px
      padding: 15px
      text-decoration: none
      border-right: 1px solid #0a1ead
      border-left: 1px solid #81899e
    &:hover a
      color: #d4d4d4

.banner
  float: left
  margin: 0 -5px
  width: 101.5%

.content_1
  float: left
  margin: 10px
  border-bottom: 4px solid #999999
  width: 98%
  padding: 0 0 5px 0

.title_txt
  font-size: 24px
  line-height: 25px
  color: #000000
  font-weight: bold

.con_txt
  font-size: 14px
  line-height: 25px
  color: #4d4d4d
  text-align: justify

.content_2
  float: left
  width: 98%
  margin: 10px
  img
    margin-top: 15px
    float: left
    padding: 0 10px 20px 0

.b25
  margin-top: 25px

.content_action
  background: url(/assets/body_action_background.png) no-repeat
  width: 336px
  height: 336px
  margin: 5px 0 0 -22px
  float: left

.action_sub
  margin: 33px
  float: left

.action_title
  font-size: 16px
  line-height: 16px
  color: #ffffff
  letter-spacing: -0.02em

.action_txt
  font-size: 13px
  line-height: 18px
  color: #b3b3b3

.action_input_1
  width: 255px
  height: 30px
  border-bottom: 1px solid #000000 !important
  border-right: 1px solid #000000 !important

.action_input_2
  width: 140px
  height: 30px
  border-bottom: 1px solid #000000 !important
  border-right: 1px solid #000000 !important
  float: left

.action_input_3
  width: 90px
  height: 30px
  border-bottom: 1px solid #000000 !important
  border-right: 1px solid #000000 !important
  float: right

.action_sub input
  &:-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder
    color: #808080

.scan_now
  background: url("/assets/scan_button.png") repeat scroll 0 -4px transparent
  float: right
  height: 45px
  width: 170px
  margin: 5px -10px 0 0
  &:hover
    background: url("/assets/scan_button.png") repeat scroll 0 -57px transparent
    height: 45px
    width: 170px

.jcarousel-skin-tango li
  background: url(/assets/link_background.png) no-repeat
  width: 87px
  height: 102px
  cursor: pointer
  margin-top: 10px
  img
    margin: 10px 0 0 12px
  &:hover
    img
      margin: 17px 0 0 18px
    background: url(/assets/link_hover_background.png) no-repeat
    width: 87px
    height: 102px
    margin-top: 5px
    margin-left: -5px
    margin-right: 5px

.content_3_back
  float: left
  width: 107%
  background: url(/assets/content.png)
  height: 330px
  margin-left: -27px

.content_3
  position: absolute
  width: 940px

.content_4
  margin: 30px 0px 10px 5px

.con_title
  font-size: 18px
  line-height: 18px
  color: #ffffff
  font-weight: bold
  letter-spacing: -0.02em
  margin-bottom: 16px

.con_sub_txt
  font-size: 14px
  line-height: 17px
  color: #ffffff
  letter-spacing: -0.03em
  margin-bottom: 16px

.content_4 a
  margin-right: 10px

.content_5
  margin: 25px 2px 10px 2px
  background-color: #ffffff
  padding: 10px 15px
  height: 255px

.sub_title
  font-size: 18px
  line-height: 18px
  color: #777373
  font-weight: bold
  letter-spacing: -0.02em

.content_5 img
  margin-top: 10px

.footer_content
  width: 100%
  margin: 0 auto
  background-color: #4d4d4d
  padding: 20px 0px 10px 0px
  margin-top: 10px

.footer_nav_l
  float: left
  list-style: none
  margin: 0
  padding: 0
  li
    float: left
    margin-right: 25px
    margin-top: 5px
    a
      font-size: 12px
      color: #ffffff
      text-decoration: none
      &:hover
        color: #d4d4d4

.footer_nav_r
  float: right
  list-style: none
  margin: 0
  padding: 0
  li
    float: left
    margin-right: 10px

.footer_sub_content
  width: 100%
  margin: 0 auto
  background-color: #808080
  padding: 10px 0px 35px 0px

.footer_mark
  font-size: 10px
  color: #ffffff
  margin: 0
  padding: 0

.des_div
  width: 970px
  float: left
  background: url(/assets/description.png) no-repeat
  height: 112px
  margin-left: -15px

.des_l
  margin: 22px 0px 0 27px

.des_txt
  color: #fefefe
  font-size: 22px
  line-height: 25px
  font-weight: bold
  margin: 0
  float: left
  clear: both

.des_r
  border-left: 1px solid #000AAB
  float: right
  height: 72px
  margin-top: -39px
  width: 200px

.des_sub_txt
  color: #ffffff
  font-size: 16px
  line-height: 19px
  margin: 0
  padding: 8px 0 7px 13px
  border-left: 1px solid #999999

.des_content
  background: url(/assets/contact_content.png) no-repeat
  padding: 25px
  background-color: #FFF

.des_content_txt
  margin: 40px 0 0 40px

.des_title
  color: #808080
  font-size: 22px
  font-weight: bold
  line-height: 25px
  margin-bottom: 20px
  letter-spacing: -0.02em

.des_con_txt
  color: #4d4d4d
  font-size: 14px
  line-height: 19px

.des_content img
  margin-top: 18px
.bos_content
  background-color: white

.b20
  margin-bottom: 20px

