.container.business_options
  .row
    .span6 
      = link_to( image_tag( current_label.logo.url() ), "http://#{current_label.domain}")
    .span5
    .span1
      =# link_to 'Billing',  '/subscriptions', :class => 'btn btn-info'
