.container
  .row
    .span6 
      = image_tag("towncenter_logo.png") 
    .span1.offset3
      = link_to 'Billing',  '/subscriptions', :class => 'btn btn-info'
    .span2
      = link_to('Edit Business Profile', edit_business_path(@business), :class => 'muted' )
