%li
  =image_tag( image.object.medium, alt: "150x150")
  =image.hidden_field :is_logo, class: 'is-logo'
  =image.hidden_field :_destroy, class: 'destroy-image' 
  .tools.tools-bottom
    %button.btn.btn-danger.btn-xs.delete-image
      %i.icon-trash
