.navbar#navbar
  .navbar-header.pull-left
    %a.navbar-brand{ href: '#'}
      %small
        %i{class: "icon-leaf"}
          Sync Admin

  .navbar-header.pull-right
    %ul.nav.ace-nav.navbar-right
      %li.purple
        %a.dropdown-toggle{:data => {toggle: "dropdown"}, href: "#"}
          %i.icon-bell-alt.icon-animated-bell
          %span.badge.badge-important 8

        %ul.pull-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-closer
          %li.nav-header
            %i.icon-warning-sign
            Notifications

          %li
            %a{href: "#"}
              .clearfix
                %span.pull-left
                  %i.btn.btn-mini.no-hover.btn-pink.icon-comment
                  Your listing published
                %span.pull-right.badge.badge-info +12
          %li
            %a{href: "#"}
              %i.btn.btn-mini.btn-primary.icon-key
              Phone verification needed...
          %li
            %a{href: "#"}
              .clearfix
                %span.pull-left
                  %i.btn.btn-mini.no-hover.btn-success.icon-shopping-cart
                  Activate your subscription!
          %li
            %a{href: "#"}
              See all notifications
              %i.icon-arrow-right

      %li.light-blue
        %a.dropdown-toggle{:data => {toggle: "dropdown"}, href: "#"}
          =image_tag(current_user.avatar.url(:tiny), class: "nav-user-photo")
          %span.user-info
            %small Welcome
            = current_user.first_name.presence || "User" 
          %i.icon-caret-down

        %ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-closer
          -#%li
            %a{href: "#"}
              %i.icon-cog
              Settings
          %li
            =link_to current_user do 
              %i.icon-user
              My Profile
          %li.divider
          %li
            =link_to destroy_session_path(current_user), method: "delete" do
              %i.icon-off
              Logout
