-if current_user.admin?
  %li.closed 
    %a.dropdown-toggle{href:'#'}
      %i.icon-bolt
      %span.menu-text Admin
    %ul.submenu 
      %li
        %a{href:'#'}
          %i.icon-double-angle-right
          Booboos
      %li
        %a{href:'#'}
          %i.icon-double-angle-right
          Packages
      %li
        %a{href:'#'}
          %i.icon-double-angle-right
          Packages

