.sidebar#sidebar
  %ul.nav.nav-list
    %li 
      %a{ href: '#'}
        %i.icon-dashboard
        %span.menu-text Dashboard 
    %li 
      = link_to businesses_url do 
        %i.icon-text-width 
        %span.menu-text Locations 
    %li 
      = link_to users_url do
        %i.icon-desktop
        %span.menu-text Users 
    %li 
      %a{ href: '#'}
        %i.icon-list 
        %span.menu-text Accounts
    %li.closed 
      %a.dropdown-toggle{ href: '#'}
        %i.icon-edit
        %span.menu-text Billing 
      %ul.submenu
        %li
          %a{href:'#'} 
            %i.icon-double-angle-right
            Subscription
        %li
          %a{href:'#'} 
            %i.icon-double-angle-right
            Invoice 
    %li 
      %a{ href: '#'}
        %i.icon-list-alt
        %span.menu-text Support
    %li
      %a{ href: '#'}
        %i.icon-calendar
        %span Action Items
    %li.closed 
      %a.dropdown-toggle{href:'#'}
        %i.icon-th
        %span.menu-text Network 
      %ul.submenu 
        %li
          %a{href:'#'}
            %i.icon-double-angle-right
            Health 
        %li
          =link_to site_profiles_url do 
            %i.icon-double-angle-right
            Statistics
        %li
          %a{href:'#'}
            %i.icon-double-angle-right
            Update Timetables
  .sidebar-collapse#sidebar-collapse
    %i.icon-double-angle-left


