!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Home
    = stylesheet_link_tag 'mock'
  %body
    .container
      .content
        %h1
          %img{:alt => "Map", :border => "0", :height => "1453", :src => "/assets/mock_background.png", :usemap => "#map", :width => "997"}/
          %map#map{:name => "map"}
            %area{:alt => "Home", :coords => "438,15,513,64", :href => "/", :shape => "rect"}/
            %area{:alt => "Scan Now", :coords => "797,1370,956,1413", :href => "/scan", :shape => "rect"}/
            %area{:alt => "Scan Now", :coords => "799,867,954,904", :href => "/scan", :shape => "rect"}/
            %area{:alt => "Learn More", :coords => "513,15,639,65", :href => "/learn_more", :shape => "rect"}/
            %area{:alt => "Packages", :coords => "639,13,751,63", :href => "/subscriptions/new", :shape => "rect"}/
            %area{:alt => "Get Started", :coords => "750,15,886,61", :href => "/users/sign_up", :shape => "rect"}/
            %area{:alt => "Reviews", :coords => "885,10,981,65", :href => "/reviews", :shape => "rect"}/
