%table.table.table-striped.table-bordered.table-hover.dataTable
  %thead
    %tr
      %th Listing Domain
      %th.hidden-480
        %i.icon-time
        Last Update  
      %th Sync
  %tbody
    - @rows.each do |row|
      %tr
        %td= link_to row['type'], account_path(row["id"])
        %td= ClientData.last_update( row['business_id'], row['type'] ) || row['updated_at']
        %td= render partial: "sync_button", locals: { :row => row }

