.page-header 
  %h1=@account.type
.row
  .col-xs-12
    = form_for @account, as: :account, url: account_path(@account), html: { class: "form-horizontal"} do |f|
      .form-group 
        - if @account.respond_to? :email
          =f.label :email, class: "col-sm-3 control-label no-padding-right"
          .col-sm-9
            =f.email_field :email, class: "col-xs-5"
        - elsif @account.respond_to? :username 
          =f.label :username, class: "col-sm-3 control-label no-padding-right"
          .col-sm-9
            =f.text_field :username, class: "col-xs-5"
      .form-group
        - if @account.respond_to? :password
          =f.label :password,  class: "col-sm-3 control-label no-padding-right"
          .col-sm-9
            =f.password_field :password, class: "col-xs-5"
      .form-group
        =f.label :listing_url,  class: "col-sm-3 control-label no-padding-right"
        .col-sm-9
          =f.text_field :listing_url, class: "col-xs-5"
      .clearfix.form-actions
        .col-md-offset-3.col-md-9
          %button.btn.btn-info(type="submit") 
            %i.icon-ok.bigger-110
            Save
          %button.btn(type="reset")
            %i.icon-undo.bigger-110
            Reset

