.row
  .col-xs-12 
    - if current_user.reseller? #defined? @businesses
      %select#business_id.chosen-select
      %br
      .space-6


    - if @rows.blank? 
      .alert.alert-block.alert-success
        Your accounts are currently being created.  Please check again later.  
    - else 
      -#.widget-box 
        .widget-header 
          %h4 Search 
        .widget-body
          .widget-main
            =search_form_for @q, url: accounts_path, lass:"form-search" do |f|
              .input-group
                =f.text_field :type_cont,  placeholder: "Listing Domain", class: "form-control"
                %span.input-group-btn
                  %button.btn.btn-purple.btn-sm
                    Search
                    %i.icon-search.icon-on-right.bigger-110
      .dataTables_wrapper
        =render 'index_table'
        - #render 'will_paginate'
      -#.btn-group
        %button.btn.btn-info.btn-sm.dropdown-toggle(data-toggle="dropdown") 
          Bulk edit
          %span.icon-caret-down.icon-on-right
        %ul.dropdown-menu.dropdown-info.pull-right
          %li
            %a(href="#") Enable Sync 
          %li
            %a(href="#") Disable Sync 
          %li 
            %a(href="#") Enable Broadcast 
          %li
            %a(href="#") Disable Broadcast 
          %li.divider 
          %li
            %a(href="#") One-Time Broadcast
:javascript 
  window.business_id = #{params[:business_id]}

  $( function() {  
    options_template = Handlebars.compile($("#options-template").html()); 

    $.getJSON("/businesses.json", function(data) {  
      $("#business_id").html( options_template(data));
      $("#business_id").val( window.business_id ); 

      $(".chosen-select").chosen();

      $("#business_id").on( 'change', function() {  
        window.location.href = "/accounts?business_id=" + $(this).val()
      } );
      }); 
  });

%script{id: "options-template", type: "text/x-handlebars-template"} 
  {{#each businesses}}
  %option{ value: "{{id}}" } {{business_name}} ( {{id}} )
  {{/each}}

