.row
  .col-xs-12 
    - if @accounts.blank? 
      .alert.alert-block.alert-success
        No accounts were found. 
    - else 
      .widget-box 
        .widget-header 
          %h4 Search 
        .widget-body
          .widget-main
            -#
              =search_form_for @q, class:"form-inline" do |f|
                .input-group
                  =f.text_field :email_cont,  placeholder: "Email"
                  =f.text_field :first_name_start,  placeholder: "First Name"
                  =f.text_field :last_name_start,   placeholder: "Last Name"
                  %span.input-group-btn
                    %button.btn.btn-purple.btn-sm
                      Search
                      %i.icon-search.icon-on-right.bigger-110
      .dataTables_wrapper
        =render 'index_table'
        =render 'will_paginate'
