:plain
  $.gritter.add({
    time: 2000, 
    // (string | mandatory) the heading of the notification
    title: 'Success',
    // (string | mandatory) the text inside the notification
    text: "Site profile #{@site_profile.site} updated!",
    class_name: 'gritter-success gritter-light'
  });
